<div class="text-center">
    <div class="card w-50" style="margin-left: 23%; margin-top: 5%;">

    <div class="card-header">
      <h1>Make a Payment Method</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <button class="btn btn-outline-primary" style="width: fit-content; margin: 5%;" ng-click="payment()" data-bs-toggle="modal" data-bs-target="#myPayment"><h3>Scan a QR Code</h3></button> <br>

      <h1>OR</h1>
      <br>
      <button class="btn btn-outline-primary" style="width: fit-content; margin: 5%;" ng-click="numberpay()" data-bs-toggle="modal" data-bs-target="#PhonePayment"><h3>By a Phone Number</h3></button>
    </div>
    <div class="card-footer text-muted">
        Powered by <br>
        <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn6Y5DVqqrbBoi4HnB-G5YLf9TJHsMqKj-Pg&usqp=CAU" alt="" width="40" height="40">| <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTrzSeqb6V1ldaVC4drFb6axSZ0nZ_H70k4A&usqp=CAU" alt="" height="20"></p>    </div>
    </div>
  </div>

  
  <div class="modal" id="myPayment">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Scan QR Code</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <video id="scanner" style="display: none;"></video>
          <div id="show"></div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="Pay()" style="width: fit-content;" data-bs-toggle="modal" data-bs-target="#FinalPayment">Continue</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="FinalPayment">
    <div class="modal-dialog">
      <div class="modal-content" style="font-size: 20px;">
  
        <div class="modal-header">
          <h4 class="modal-title" style="font-size: 25px;">Make Payment</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          <div class="mt-3">
            <label for="amount" class="form-label">Amount:</label>
            <input type="text" class="form-control" placeholder="Enter Amount" ng-model="amount" name="amount" style="height: 40px; font-size: 15px;">
          </div>
          <div class="input-group col-lg-6 mb-4 mt-lg-4" >
            <select class="input-group-prepend " ng-model="option" style="width: 100%; padding: 2.0rem; font-size: 15px;" aria-label="Default select example" ng-show="payment_option">
                <option value="" selected disabled hidden >Choose a Payment Option</option>                               
              <option value="2" >Pay from Wallet</option>
              <option value="1" >Pay from Bank Account</option>
            </select>                  
        </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">PIN :</label>
            <input type="password" class="form-control" ng-model="pin" placeholder="Enter Your PIN" name="pswd" style="height: 40px; font-size: 15px;">
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="FinalPay()" style="font-size: 20px; width: 20%; height: 30px;">Pay</button>
        </div>
  
      </div>
    </div>
  </div>



  <div class="modal" id="PhonePayment">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title" style="font-size: 25px;">Make Payment</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          <div class="mt-3">
            <label for="amount" class="form-label" style="font-size: 20px;">Mobile Number :</label>
            <input type="text" class="form-control" placeholder="Enter Registered Number" ng-model="number" name="amount" style="height: 50px; font-size: 15px;">
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="ContinuePhone()" data-bs-toggle="modal" data-bs-target="#FinalPhonePayment" style="width: fit-content; font-size: 20px; height: 40px;">Continue</button>
        </div>
  
      </div>
    </div>
  </div>


  <div class="modal" id="FinalPhonePayment">
    <div class="modal-dialog">
      <div class="modal-content" style="font-size: 20px;">
  
        <div class="modal-header">
          <h4 class="modal-title" style="font-size: 25px;">Make Payment</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          <div class="mt-3">
            <label for="amount" class="form-label">Amount:</label>
            <input type="text" class="form-control" placeholder="Enter Amount" ng-model="amount" name="amount" style="height: 50px; font-size: 15px;">
          </div>

          <div class="mt-lg-4 mb-4" ng-show="payment_option">
            <label for="amount" class="form-label">Choose a Payment Method:</label>
            <select class="input-group-prepend " ng-model="option" style="width: 100%; height: 50px; padding: 1.5rem; font-size: 15px; background-color: white; border-radius: 10px;" aria-label="Default select example" >
                <option value="" selected disabled hidden >Choose a Payment Option</option>                               
              <option value="2" >Pay from Wallet</option>
              <option value="1" >Pay from Bank Account</option>
            </select>                  
        </div>
    
          <div class="mb-3">
            <label for="pwd" class="form-label">PIN :</label>
            <input type="password" class="form-control" ng-model="pin" placeholder="Enter Your PIN" name="pswd" style="height: 50px; font-size: 15px;">
          </div>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="PhonePay()" style="font-size: 20px; width:fit-content ;" data-bs-dismiss="modal" >Pay</button>
        </div>
  
      </div>
    </div>
  </div>
