<div ng-app="myApp" ng-controller="myCtrl">
    <div ng-repeat="transaction in data">
      <div class="card text-center" style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
        <h2 style="font-size: 24px;">Transaction ID: {{transaction.id}}</h2>
        <h3>Status: {{transaction.status}}</h3>
        <h4>Amount: &#x20b9 {{transaction.amount}}</h4>
        <h4>Date: {{transaction.date}}</h4>
        <h4>Time: {{transaction.time}}</h4>
        <h4>From: {{transaction.from_name}} ({{transaction.from}})</h4>
        <h4>To: {{transaction.to}} ({{transaction.to}})</h4>
        
        <div ng-if="transaction.status === 'FAILED'">
          <p><strong>Reason for Failure:</strong> {{transaction.reason}}</p>
        </div>
      </div>
    </div>
  </div>