    <style>

        .border-md {
            border-width: 2px;
        }
        
        .btn-facebook {
            background: #405D9D;
            border: none;
        }
        
        .btn-facebook:hover, .btn-facebook:focus {
            background: #314879;
        }
        
        .btn-twitter {
            background: #42AEEC;
            border: none;
        }
        
        .btn-twitter:hover, .btn-twitter:focus {
            background: #1799e4;
        }
        body {
            min-height: 100vh;
        }
        
        .form-control:not(select) {
            padding: 1.5rem 0.5rem;
        }
        
        select.form-control {
            height: 52px;
            padding-left: 0.5rem;
        }
        
        .form-control::placeholder {
            color: #ccc;
            font-weight: bold;
            font-size: 0.9rem;
        }
        .form-control:focus {
            box-shadow: none;
        }
        
              
            </style>
        <body>
            
            <div class="container">
                <h1 style="margin: 2%; margin-left: 29%; font-size: 50px;">Welcome to our Bank</h1>
                <h4 style="margin-left: 38%; font-size: 30px;">Create an Account</h4>
        
                <div class="row py-4 align-items-center">
                    <!-- For Demo ] -->
                        <!-- <h1 class="ml-lg-5">Create an Account</h1> -->
                        <img src="https://images.unsplash.com/photo-1604594849809-dfedbc827105?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="" style="height: 450px; width: 450px;" class="img-fluid d-md-block">
                    
            
                    <div class="col-md-7 col-lg-6 ml-auto mt-2">
                        <form ng-submit="AddAccount()">
                            <div class="row">
                    
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-phone-square text-muted"></i>
                                        </span>
                                    </div>
                                    <input id="number" type="number" name="number" ng-model="number" placeholder="Enter a Verified Number with Aadhar" class="form-control bg-white border-left-0 border-md">
                                </div>
            
                              
            
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-user text-muted"></i>
                                        </span>
                                    </div>
                                    <input id="dob" type="number" name="dob" ng-model="aadhar" placeholder="Aadhar Card Number" class="form-control bg-white border-left-0 border-md">
                                </div>
            
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-user text-muted"></i>
                                        </span>
                                    </div>
                                    <input id="phoneNumber" type="number" name="number" ng-model="pannumber" placeholder="Pan card Number" class="form-control bg-white border-md border-left-0 pl-3">
                                </div>
        
        
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-user text-muted"></i>
                                        </span>
                                    </div>
                                    <input id="dob" type="text" name="name" ng-model="nominee" placeholder="Nominee Name" class="form-control bg-white border-left-0 border-md">
                                </div>
            
                                <div class="input-group col-lg-6 mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-white px-4 border-md border-right-0">
                                            <i class="fa fa-phone-square text-muted"></i>
                                        </span>
                                    </div>
                                    <input id="phoneNumber" type="tel" name="phone" ng-model="nomineenumber" placeholder="Nominee Number" class="form-control bg-white border-md border-left-0 pl-3">
                                </div>
        
                                <div style="margin-left: 3%; font-size: 18px;">
                                    User Photo:
                                </div>
                                 <div class="input-group col-lg-12 mb-4">
                                     
                                     <input id="Photo" type="file" name="aadhar"  file-upload ng-model="userimage" placeholder="Photo" class="form-control bg-white">
                                 </div>
            
                               <div style="margin-left: 3%; font-size: 18px;">
                                   Aadhar Card:
                               </div>
                                <div class="input-group col-lg-12 mb-4">
                                    
                                    <input id="Aadhar" type="file" name="aadhar" file-upload ng-model="Aadhar" placeholder="Enter Aadhar" class="form-control bg-white">
                                </div>
        
                                <div style="margin-left: 3%; font-size: 18px;">
                                    Pan Card:
                                </div>                        
                                <div class="input-group col-lg-12 mb-4">
                                    <input id="Pan" type="file" name="pan"  file-upload ng-model="Pan" placeholder="Enter Pan" class="form-control bg-white">
                                </div>

                                <div class="input-group col-lg-6 mb-4" >
                                    <select class="form-select " ng-model="department" style="width: 100%;" aria-label="Default select example">
                                        <option value="" selected disabled hidden>Marital Status</option>                               
                                      <option value="{{depart.id}}" ng-repeat="depart in departs">{{depart.departments}}</option>
                                      
                                    </select>                  
                                </div>
        
                                <div class="form-group col-lg-12 mx-auto mb-0">
                                    <button type="submit"  class="btn btn-primary btn-lg" style="margin-left: 40%;" >Add Account</button>
                                    </div>
            
                                    <div class="text-center w-100 mt-lg-4">
                                        <p class="text-muted font-weight-bold">Already Added? <a  class="text-primary ml-2 " ui-sref="Register">Go Back</a></p>
                                    </div>
            
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </body>
        