<!-- <!DOCTYPE html>
<html lang="en">
<head>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
/*  */
.border-md {
    border-width: 2px;
}

body {
    min-height: 100vh;
}

.form-control:not(select) {
    padding: 2.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 1.5rem;
}
.form-control:focus {
    box-shadow: none;
}

      
    </style>
<body >
    
    <div class="container">
        <h1 style="margin: 2%; margin-left: 24%; font-size: 50px;">Welcome to our Bank</h1>
        <h4 style="margin-left: 39%; font-size: 30px;">Register</h4>

        <div class="row py-4 align-items-center ml-lg-5">
            <!-- For Demo ] -->
                <!-- <h1 class="ml-lg-5">Create an Account</h1> -->
                <img src="https://play-lh.googleusercontent.com/PLbX3nIRqh8EP52twKQs1cohdR7u6S3qLviqfCgK16ZvEkOQpS6dIUUk2f3TZWNSuiZA=w240-h480-rw" alt="" style="height: 450px; width: 450px;" class="img-fluid d-md-block">
            
    
            <!-- Registeration Form -->
            <div class="col-md-7 col-lg-6 ml-3 mt-5">
                <form ng-submit="Register()" name="myForm">
                    <div class="row">
    
                        <!-- First Name -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted" style="font-size: 15px;"></i>
                                </span>
                            </div>
                            <input id="firstName" type="text" name="firstname" ng-model="firstname" pattern="[A-Z][a-z]{2,15}" placeholder="First Name" style="font-size: 18px;" class="form-control bg-white border-left-0 border-md" required>
                        </div>
    
                        <!-- Last Name -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted" style="font-size: 15px;"></i>
                                </span>
                            </div>
                            <input id="lastName" type="text" name="lastname" ng-model="lastname" pattern="[A-Z][a-z]{2,15}" placeholder="Last Name" style="font-size: 18px;" class="form-control bg-white border-left-0 border-md" required>
                        </div>
    
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted" style="font-size: 15px;"></i>
                                </span>
                            </div>
                            <input id="email" type="email" name="email" ng-model="email" ng-change="validateEmail()" style="font-size: 18px;" ng placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
                            <div ng-show="email == '' && !emailIsValid">
                                <p style="color: red;">Invalid email format</p>
                            </div>
                            <div ng-show="emailIsValid">
                                <p style="color: green;">Valid email format</p>
                            </div>
                        </div>
    
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted" style="font-size: 15px;"></i>
                                </span>
                            </div>
                            <input id="dob" type="date" name="dob" value="dob" max="{{maxDate()}}" ng-model="date" style="font-size: 18px;" placeholder="Date of Birth"  ng-change="updateDate()" class="form-control bg-white border-left-0 border-md" required>
                        </div>
    
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-phone-square text-muted" style="font-size: 15px;"></i>
                                </span>
                            </div>
                            <input id="phoneNumber" type="tel" name="phone" value="phonenumber" pattern="[0-9]{10}" maxlength="10" ng-model="contact" style="font-size: 18px;" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3" required>
                        </div>


                        <div class="input-group col-lg-6 mb-4" >
                            <select class="input-group-prepend " ng-model="genders" ng-click="gender1()" style="width: 100%; padding: 2.0rem; font-size: 15px;" aria-label="Default select example" required>
                                <option value="male" selected disabled hidden >Gender</option>                               
                              <option value="{{name}}" ng-repeat="name in gender">{{name}}</option>
                            </select>                  
                        </div>
    
                        <br>
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted" style="font-size: 15px;"></i>
                                </span>
                            </div>
                            <input id="password" type="password" name="password" ng-model="password" style="font-size: 18px;" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <!-- Password Confirmation -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted" style="font-size: 15px;"></i>
                                </span>
                            </div>
                            <input id="passwordConfirmation" type="password" ng-model="confpassword" style="font-size: 18px;" name="passwordConfirmation" ng-change="validatePassword()" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">
                            <div class="text-danger" ng-show="myForm.confpassword.$dirty && myForm.confpassword.$error.required">Confirm Password is Required</div>
                                 <div class="text-danger" ng-show="passwordMismatch">
                                   Password do not match.
                                 </div>
                        </div>

    
                        <!-- <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-home text-muted"></i>
                                </span>
                            </div>
                            <input id="address" type="text" name="address" ng-model="address" placeholder="Address" class="form-control bg-white border-left-0 border-md">
                        </div> -->
    
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <button type="submit"  class="btn btn-primary btn-lg" style="margin-left: 37%; font-size: 20px; margin-bottom: 2%;" ng-click="submit(myForm.$valid)">Register Now</button>
                            </div>
    
                       <div class="text-center w-100">
                            <p class="text-muted font-weight-bold" style="font-size: 15px;">Already have an Account ?<a  class="text-primary ml-2 mt-lg-4" ui-sref="PayHome">Login</a></p>
                        </div>

                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold" style="font-size: 15px;">Add Account Details<a  class="text-primary ml-2 mt-lg-4" ui-sref="AddAccount">Add Account</a></p>
                        </div>
    
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
