<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Registeration</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="node_modules/angular/angular.js"></script> -->
    <!-- <script src="hospital.js"></script> -->
    <style>
/*  */
.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}
body {
    min-height: 100vh;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}

      
    </style>
<body >
    
    <div class="container">
        <h1 style="margin: 2%; margin-left: 29%; font-size: 50px;">Welcome to our Bank</h1>
        <h4 style="margin-left: 38%; font-size: 30px;">Create an Account</h4>

        <div class="row py-4 align-items-center">
            <!-- For Demo ] -->
                <!-- <h1 class="ml-lg-5">Create an Account</h1> -->
                <img src="https://images.unsplash.com/photo-1604594849809-dfedbc827105?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="" style="height: 450px; width: 450px;" class="img-fluid d-md-block">
            
    
            <!-- Registeration Form -->
            <div class="col-md-7 col-lg-6 ml-auto mt-2">
                <form ng-submit="Register()">
                    <div class="row">
    
                        <!-- First Name -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="firstName" type="text" name="firstname" ng-model="firstname" placeholder="First Name" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <!-- Last Name -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="lastName" type="text" name="lastname" ng-model="lastname" placeholder="Last Name" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="email" type="email" name="email" ng-model="email" ng-change="validateEmail()" ng placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
                            <!-- <div ng-show="email == '' && !emailIsValid">
                                <p style="color: red;">Invalid email format</p>
                            </div>
                            <div ng-show="emailIsValid">
                                <p style="color: green;">Valid email format</p>
                            </div> -->
                        </div>
    
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="dob" type="text" name="dob" ng-model="dob" placeholder="Date of Birth" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-phone-square text-muted"></i>
                                </span>
                            </div>
                            <input id="phoneNumber" type="tel" name="phone" ng-model="contact" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3">
                        </div>


                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="dob" type="text" name="name" ng-model="nominee" placeholder="Nominee Name" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-phone-square text-muted"></i>
                                </span>
                            </div>
                            <input id="phoneNumber" type="tel" name="phone" ng-model="nomineenumber" placeholder="Nominee Number" class="form-control bg-white border-md border-left-0 pl-3">
                        </div>

                        <div style="margin-left: 3%; font-size: 18px;">
                            User Photo:
                        </div>
                         <div class="input-group col-lg-12 mb-4">
                             
                             <input id="Photo" type="file" name="aadhar"  file-upload ng-model="userimage" placeholder="Photo" class="form-control bg-white">
                         </div>
    
                       <div style="margin-left: 3%; font-size: 18px;">
                           Aadhar Card:
                       </div>
                        <div class="input-group col-lg-12 mb-4">
                            
                            <input id="Aadhar" type="file" name="aadhar" file-upload ng-model="Aadhar" placeholder="Enter Aadhar" class="form-control bg-white">
                        </div>

                        <div style="margin-left: 3%; font-size: 18px;">
                            Pan Card:
                        </div>                        
                        <div class="input-group col-lg-12 mb-4">
                            <input id="Pan" type="file" name="pan"  file-upload ng-model="Pan" placeholder="Enter Pan" class="form-control bg-white">
                        </div>

                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="password" type="password" name="password" ng-model="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <!-- Password Confirmation -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="passwordConfirmation" type="password" ng-model="confpassword" name="passwordConfirmation" ng-change="validatePassword()" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">
                            <!-- <div class="text-danger" ng-show="myForm.confpassword.$dirty && myForm.confpassword.$error.required">Confirm Password is Required</div>
                                 <div class="text-danger" ng-show="passwordMismatch">
                                   Password do not match.
                                 </div> -->
                        </div>

    
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-home text-muted"></i>
                                </span>
                            </div>
                            <input id="address" type="text" name="address" ng-model="address" placeholder="Address" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <button type="submit"  class="btn btn-primary btn-lg" style="margin-left: 40%;" >Register Now</button>
                            </div>
    
                       <div class="text-center w-100">
                            <p class="text-muted font-weight-bold">Already have an Account <a  class="text-primary ml-2 mt-lg-4" ui-sref="PayWind">Login</a></p>
                        </div>
    
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
