<style>
    .navcolor {
    background-color: white;
    /* position:fixed;
    block-size:inherit; */
}

.navcolor a {
    font-family: Arial, Helvetica, sans-serif !important;
    margin-left: 10%;
    color: black !important;
    font-size: 15px !important;
    font-weight: bolder;
}

#signin {
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 9px;
}

#loginimg {
}

#loginbutton:hover {
    background-color: #002970 !important;
}

#loginimg:hover {
  background-color:  #00baf2 !important;

}

.nav-item a:hover {
    background-color: #f5f7fa;
}

.navbar-toggler {
    color: black !important;
}

</style>

    <div class="text-center" ng-controller="BillController">
        <div class="card w-50" style="margin-left: 23%; margin-top: 2%;">
        <div class="card-header">
          <h4 style="font-weight: bolder; font-size: 20px;">SPLIT PAYMENT</h4>
           <p class="font-weight-light" style="font-size: 14px;">with a group of friends</p>
        </div>
        <div class="card-body">
            <!-- <div class="card w-10"> -->
            <div class="card text-center" style="width: 50%; margin-left: 25%;background-color: whitesmoke;"  >
                <h5 class="card-title font-weight-normal" style="font-size: 22px; margin-top: 5%;">Total Amount</h5>
                <!-- <iframe class="card-text" frameborder="0" title="Ruppees"></iframe> -->
                <input type="text"  placeholder=" &#x20b9 0" style="border: 0; height: 150px; font-size: 60px; text-align: center; background-color: whitesmoke;" id="" ng-model="rupees">
                <input type="text" placeholder="What's this payment for ?" style="height: 60px; border-radius: 10px; font-size: large; text-align: center; width: fit-content;border:0cm; margin-left: 20%; margin-bottom: 4%; margin-top: 3%;">
                      <!-- </div> -->
            </div>
        </div>
        <div>
        <input type="text" placeholder="&#x1F50D; Find by name or number" ng-model="number" style="height: 60px; border-radius: 15px; width: 50%; margin-top: 2%; margin-left: 10%; font-size: 22px;border-color: black;" required>

        <button type="submit" class="btn btn-outline-danger" ng-click="submit()" style="height: 50px; width: 8%; margin-left: 1%; border-radius: 15px; font-size: 18px;">Add</button>
        </div>

        <h4 style="font-size: large; margin-top: 2%; margin-right: 30%; margin-bottom: 3%;">Create a new group</h4>

        <!-- <div ng-repeat="number in contacts"> -->
            <!-- <p>{{$index}}</p> -->
            <!-- <img src="https://pwebassets.paytm.com/commonwebassets/paytmweb/header/images/loginImg.svg" alt="user" id   ="loginimg" style="float: left; margin-left: 25%;">
            <span id="text" style="font-size: 25px; float: left; margin-left: 3%;">{{number.numbers}}</span>
            <button class="btn btn-lg" style="font-size: 20px; float: left; margin-left: 5%;">&#x20b9 100</button>
            <input type="checkbox" ng-model="number.completed" ng-change="done($index, number.completed)" style="margin-bottom: 3%;">
            <button type="button" class="btn btn-close removeField" ng-click="removeContactField($index)" style="float: right; margin-right: 25%;"></button>
                <br>
            <span ng-if="number.completed" style="font-size: 18px;">Payment Completed</span> -->

            <table style="width: 100%; font-size: 20px;">
                <tr ng-repeat="number in contacts">
                    <td><img src="https://pwebassets.paytm.com/commonwebassets/paytmweb/header/images/loginImg.svg" alt="user" id="loginimg" width="50" height="50">
                    </td>
    
                    <td>
                       <div style="float: left;">
                        <span id="text" style="font-size: 25px; float: left;">{{number.numbers}}</span>
                    </div>
                       
                    </td>
<!--     
                    <td>
                       <div>
                        <button class="btn btn-lg" style="font-size: 20px; float: left; margin-left: 5%;">&#x20b9 100</button>
                    </div> 
                    </td> -->

                    <!-- <td>
                     <input type="checkbox" ng-model="number.completed" ng-change="done($index, number.completed)" style="margin-bottom: 3%;">
                     <button type="button" class="btn btn-close removeField" ng-click="removeContactField($index)" style="float: right;"></button>
                     <br>
                     <span ng-if="number.completed" style="font-size: 18px;">Payment Completed</span> 
                    </td> -->
                </tr>  
                
                <hr>
            </table>

        </form>

        <div class="card-footer text-muted">
            <button type="submit" class="btn-lg btn-primary" ng-click="Continue()" style="height: 55px; width: 50%; border-radius: 158px;">Continue</button>
        </div>
        </div>
    </div>
    </div>