<div class="card text-center w-50" style="margin-left: 25%; margin-top: 5%;">
    <div class="card-header" style="font-size: 30px;">
        Automatic Add Money
    </div>
    <div class="card-body" style="font-size: 20px;">
      <h5 class="card-title">Add money</h5>
      <p class="card-text mt-5">When wallet balance goes below</p>
      <div >
        <select class="input-group-prepend " ng-model="wallet_balance" style="width: 50%; padding: 1.5rem; font-size: 15px; background-color: white; border-radius: 10px; margin-left: 23%;" aria-label="Default select example">
            <option value="" selected disabled hidden >Choose Amount</option>                               
            <option value="200" >&#x20b9; 200</option>
            <option value="500" >&#x20b9; 500</option>
            <option value="1000" >&#x20b9; 1000</option>
            <option value="1500" >&#x20b9; 1500</option>
            <option value="2000" >&#x20b9; 2000</option>

        </select>                  
    </div>
    <p class="card-text mt-lg-5">Automatically Add</p>
    <div >
        <select class="input-group-prepend " ng-model="add"  style="width: 50%; padding: 1.5rem; font-size: 15px; background-color: white; border-radius: 10px; margin-left: 23%;" aria-label="Default select example">
            <option value="" selected disabled hidden >Add Amount</option>                               
            <option value="100" >&#x20b9; 100</option>
            <option value="200" >&#x20b9; 200</option>
            <option value="300" >&#x20b9; 300</option>
            <option value="400" >&#x20b9; 400</option>
            <option value="500" >&#x20b9; 500</option>

        </select>                  
    </div>

    <p style="margin-top: 5%; font-size: 12px; font-weight: light;">By proceeding you agree to the <a href="">Terms and Condition</a></p>
</div>
    <div class="card-footer text-muted" style="height: 60px;">
        <button class="btn btn-primary" ng-click="proceed()" style="width: 30%; margin-right:3%; font-size: 20px; height: 40px; border-radius: 10px;">Proceed</button>
    </div>
  </div>