<style>
     #nav {
        font-size: 30px;
    }

    .navcolor {
    background-color: white;

}

.redColor {
  background-color: rgb(247, 132, 132);
}
.yelloColor {
  background-color: rgb(111, 236, 167);
}
.blueColor {
  background-color: rgb(105, 235, 242);
}
</style>

<div ng-controller="TransactionDetailController">
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <!-- <div  style="float: left;">
                   <i class="fa-solid fa-arrow-left"></i>
                </div> -->
              <a class="navbar-brand" id="nav">Account Balance & History</a>
            </div>
          </nav>
    </header>
        <div class="card text-center" style="width: 50%; margin-left: 24%;">
            <div class="card-body">
                <div style="margin-bottom: 2%;">
                    <form class="d-flex">
                        <input class="form-control me-2" type="searchText" ng-model="search" placeholder="&#x1F50D;   Search payments" aria-label="Search" style="height: 50px; border-radius: 15px; font-size:20px;">
                        <!-- <button type="submit" class="btn btn-outline-primary" ng-click="hit()" style="width: fit-content;">CLICK</button> -->

                      </form>
                </div>
                <table style="width: 100%; font-size: 20px;">
                    <tr ng-repeat="detail in details track by $index">
                        <td><img src="https://pwebassets.paytm.com/commonwebassets/paytmweb/header/images/loginImg.svg" alt="user" id="loginimg" width="50" height="50">
                        </td>

                        <td>
                           <div style="float: left;">
                             {{detail.to}}<br>
                             <p style="font-size: 12px; font-weight: light; float: left;" ui-sref='History'>Paid on {{detail.date|date}} at {{detail.time}}</p>
                           </div>
                           
                        </td>

                        <td>
                           <div>
                            <div style="flex-direction: column;">
                            <p class="color-SOMETHING" ng-class="{'redColor': detail.status1=='+', 'yelloColor': detail.status1=='-', 'blueColor': detail.status1=='!'}">{{detail.status1}}</p> 
                            <p>&#8377; {{detail.amount}} </p>
                            </div>
                             <p style="font-size: 12px; font-weight: light;">From BOB</p>
                           </div> 
                        </td>
                    </tr>

                    <hr>

                    <tr>
                        <td>
                            <img src="https://pwebassets.paytm.com/commonwebassets/paytmweb/header/images/loginImg.svg" alt="user" id="loginimg" width="50" height="50">
                        </td>
                        <td>
                            <div style="float: left;">
                              Harsh Verma<br>
                              <p style="font-size: 12px; font-weight: light; float: left;">Paid on 13 Oct, 10:56 PM</p>
                            </div>
                         </td>
                         <td>
                            <div>
                               -&#8377; 500 <br>
                               <p style="font-size: 12px; font-weight: light;">In SBI</p>
                            </div>
                         </td>
                    </tr>

                    <tr>
                        <td>
                            <img src="https://pwebassets.paytm.com/commonwebassets/paytmweb/header/images/loginImg.svg" alt="user" id="loginimg" width="50" height="50">
                        </td>
                        <td>
                            <div style="float: left;">
                              Harsh Verma<br>
                              <p style="font-size: 12px; font-weight: light; float: left;">Paid on 13 Oct, 10:56 PM</p>
                            </div>
                         </td>
                         <td>
                            <div>
                               -&#8377; 500 <br>
                               <p style="font-size: 12px; font-weight: light;">In SBI</p>
                            </div>
                         </td>
                    </tr>
                    
                </table>
            </div>
          </div>
</div>